@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  background: #f2f2f2;
}
.page {
  @apply w-full flex flex-col items-center;
}

.box {
  width: 16rem;
  @apply h-fit shadow-lg ml-2 mr-2;
}

.card-bg {
  @apply flex flex-col justify-between;
  height: 8rem;
  background: #ccce69;
  box-shadow: inset 0 -1rem 1.5rem -1.2rem rgba(0, 0, 0, 0.5);
}